@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    outline: none;
    border: none;
    background-color: #E8833A;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.90);
}